:root {
	font-size: 16px;
	background-color: rgb(97, 97, 97);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: calibri, sans-serif;
	font-weight: 400;
	letter-spacing: 0.04rem;
}

:link {
	text-decoration: none;
	color: inherit;
}

:visited {
	text-decoration: none;
	color: inherit;
}

body {
	max-width: 800px;
	min-width: 360px;
	background-color: rgb(230, 252, 238);
	box-shadow: 0 0 20px -2px black;
	margin: 0 auto;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.flexAux {
	flex-grow: 1;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 11px;
}

::-webkit-scrollbar-thumb {
	background: rgb(161, 173, 160);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(117, 117, 117);
}

/* __________________  HEADER ______________________ */

.Header {
	display: flex;
	height: 6rem;
	background-color: rgb(109, 168, 144);
	padding: 0 2rem;
	justify-content: space-between;
	align-items: center;
}

.Header h1 {
	display: inline-block;
	font-weight: 800;
	color: rgb(53, 48, 48);
	line-height: 6rem;
	font-size: 2.6rem;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.664);
}

.Header svg {
	font-size: 2rem;
	color: rgb(255, 255, 255);
}

/* ______________________ NAV _______________________ */

nav {
	background-color: rgb(77, 70, 70);
	color: white;
	align-items: center;
	display: flex;
	min-height: 2.5rem;
}

/* ________________________ SEARCH */

nav form {
	margin-left: 1rem;
	flex-shrink: 1;
	justify-content: center;
	display: flex;
	justify-content: flex-start;
}

nav label {
	position: absolute;
	left: -500px;
}

nav input {
	width: 100%;
	min-width: 1rem;
	box-sizing: border-box;
	cursor: auto;
	font-size: 1.2rem;
	padding-left: 0.4rem;
	border: 1px solid grey;
	border-radius: 4px;
}

nav input::placeholder {
	color: rgb(211, 211, 211);
	font-weight: lighter;
}

/*  ______________________ BUTTONS  */
ul {
	margin-left: auto;
	height: 2.5rem;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

li {
	padding: 0 10px;
	list-style: none;
	display: inline-block;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	height: 100%;
	line-height: 2.5rem;
}

li:hover {
	background-color: rgb(100, 100, 100);
}

nav a:focus {
	text-decoration: underline;
}

/* _____________________ FEED _____________________________ */

.statusMsg {
	margin: 2rem;
	text-align: center;
	display: block;
}

.postBodyPre {
	padding: 1rem 1rem 0;
	font-style: italic;
}

.post {
	display: inline-block;
	width: calc(100% - 2rem);
	margin: 1rem;
	border-bottom: 1px solid rgb(209, 209, 209);
	padding: 1rem;
}

.post h2 {
	display: inline-block;
	font-size: 1.8rem;
}

.postDate {
	color: rgb(184, 184, 184);
	font-weight: 100;
}

.postBody {
	padding: 1rem;
	white-space: pre-wrap;
}

.no-match {
	font-size: 1.5rem;
	margin: 3rem;
	font-style: italic;
	color: rgba(0, 0, 0, 0.726);
}

/* ___________________ POST PAGE ______________________ */

.deleteButton {
	padding: 0.2rem 1rem;
	margin: 0.5rem;
	background-color: rgb(236, 172, 172);
	border: none;
	border-radius: 5px;
}

.editButton {
	padding: 0.2rem 1rem;
	margin: 0.5rem;
	background-color: rgb(195, 229, 194);
	border: none;
	border-radius: 5px;
}

.post button:hover {
	opacity: 0.9;
	box-shadow: 0 0 20px -5px rgb(89, 146, 172);
}

/* _______________________ NEW POST ______________________________ */

.newPost {
	margin: 2rem;
}

.newPost h1 {
	font-size: 1.5rem;
	border-bottom: 1px solid rgb(175, 175, 175);
}

.newPostForm {
	margin: 1rem 2rem;
}

.newPostForm label {
	display: block;
}

.newPostForm input {
	width: 60%;
	height: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.1rem;
	padding: 0 0.3rem;
}

.newPostForm textarea {
	resize: none;
	width: 100%;
	height: 10rem;
	margin-bottom: 1rem;
	font-size: 1.1rem;
	padding: 0 0.3rem;
}

.newPostForm button {
	padding: 0.2rem;
	float: right;
}

/*  _____________________ POST NOT FOUND _____________________ */

.postNotFound,
.pageNotFound {
	display: block;
	margin: 1rem;
	text-align: center;
	font-size: 1rem;
}

.postNotFound h2,
.pageNotFound h2 {
	color: rgb(175, 11, 11);
	margin: 1rem;
	font-size: 2rem;
}

.toHome {
	text-decoration: underline;
	font-size: 1.1rem;
	margin: 0.4rem;
	display: inline-block;
}

.toHome:hover {
	color: blue;
}

/* ________________________ABOUT_____________________________ */

.about {
	margin: 2rem;
}

.about h2 {
	border-bottom: 1px solid rgb(175, 175, 175);
}

.about p {
	margin-top: 5px;
	padding: 1rem 2rem;
	font-style: italic;
	font-size: 1.1rem;
	color: rgba(7, 7, 7, 0.815);
}

/* ______________________ FOOTER ____________________________ */

footer {
	width: 100%;
	max-width: 800px;
	text-align: center;
	background-color: rgb(77, 70, 70);
	color: white;
	height: 3rem;
	line-height: 3rem;
}

footer h1 {
	display: inline-block;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.4rem;
	font-weight: lighter;
}
